@import 'variables';

.full-width {
  width: 100%;
  margin: 0 auto;
}

.login-card {
  width: 25%;
  margin: $spacer-y auto;
  display: flex;
  justify-content: center;
}

.login-button {
  display: flex;
  justify-content: center;
}