<nav class="navbar" *transloco="let t; read: 'MENU_NAV'">
    <div class="logo-container">
        <a class="logo" href=''>{{ t('NAME') }}</a>
    </div>

    <div class="menu">
        <div *ngIf="!user" class="not-logged">
            <div class="login">
                <a href='/login'>{{ t('LOGIN') }}</a>
            </div>
            <div class="register">
                <a href="/register">{{ t('REGISTER') }}</a>
            </div>
        </div>
        <div *ngIf="user" class="logged">
            <fa-icon class="user-icon" [icon]="['fas','user']" [matMenuTriggerFor]="menu"></fa-icon>
            <mat-menu #menu="matMenu">
                <div class="menu-item">
                    <p> {{ t('USER') }} {{ user?.userName }}</p>
                </div>
                <div class="menu-item">
                    <button (click)="logOut()" mat-menu-item>{{ t('LEAVE') }} <fa-icon class="log-out-icon"
                            [icon]="['fas','sign-out-alt']"></fa-icon></button>
                </div>
            </mat-menu>

        </div>
    </div>
</nav>